{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "0.8"
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    [
      "transform-runtime", {
        "polufill": false,
        "regenerator": true
      }
    ]
  ]
}
